/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* stuff all */
body {
    background-color: black;
    background-image: url(gradient.svg);
    background-repeat: no-repeat;
    background-position-y: 80%;
    background-size: 75%;
	font-family: 'Inter', sans-serif;
	text-align: center;
    font-size: 16px;
	line-height: 1.5;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

a {
	color: whitesmoke;
	text-decoration: none;
}

a:hover{
    color: rgb(62,53,80);
}

ul {
	list-style: none;
}

/* navigation bar + header style */
header {
	padding: 20px;
    background: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

header h1 {
    color: white;
	font-size: 30px;
}

header nav ul {
	display: flex;
}

header nav li {
	margin: 0 10px;
}

header nav a {
	padding: 10px;
	transition: background-color 0.3s ease;
}

header nav a:hover {
	background-color: #ddd;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
}

ul li ul.dropdown li{ 
    display: block;
}

ul li ul.dropdown {
    font-size: 15px;
    width: auto;
    background: black;
    position: absolute;
    display: none;
}

ul li a:hover{
    background: #ddd;
}

ul li:hover ul.dropdown{
    display: block;
}

.name {
    font-size: 150px;
    position: relative;
    font-family: 'Inconsolata', monospace;
    position: relative;
    width: max-content;
    text-align: center;
    margin: 50px auto;
}

.name::before,
.name::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.name::before {
    background: black;
    animation: typing 3s steps(12) 1s
    forwards;
}

.name::after {
    width: 0.02em;
    background: white;
    animation: typing 3s steps(12) 1s forwards,
    blink 700ms steps(12) infinite;
}

.hello {
    color: white;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInDown 2s ease forwards;
}

@keyframes typing {
    to { 
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Main spacing stuff */
main {
	margin-top: 100px;
	padding: 20px;
}

section {
	margin-bottom: 50px;
}

section h2 {
	font-size: 100px;
	margin-bottom: 20px;
}

section p {
	margin-bottom: 20px;
}

/* Footer Styles */
footer {
	background-color: #f5f5f5;
	padding: 20px;
	text-align: center;
}
